---
layout: default
---

<!-- Tailwind CSS -->
<script src="https://cdn.tailwindcss.com/3.0.0"></script>

<div class="bg-white">
  <main>
    <!-- Hero section -->
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
        <div>
          <div>
            <img class="h-11 w-auto" src="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.icon }}</text></svg>" alt="Workflow">
          </div>
          <div class="mt-20">
            <div>
              <a href="#" class="inline-flex space-x-4">
                <span class="rounded bg-[#FF9797] px-2.5 py-1 text-xs font-semibold text-[#70003C] tracking-wide uppercase"> Recruiting PHD Students </span>
              </a>
            </div>
            <div class="mt-6 sm:max-w-xl">
              <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">Levy Lab</h1>
              <p class="mt-6 text-xl text-gray-500">Data driven solutions to public health problems.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
        <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <div class="hidden sm:block">
            <div class="absolute inset-y-0 left-1/2 w-screen bg-gray-50 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full"></div>
            <svg class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0" width="404" height="392" fill="none" viewBox="0 0 404 392">
              <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
            </svg>
          </div>
          <div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
            {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
            <img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none" src="{{ profile_image_path }}" alt="">
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonial/stats section -->
    <div class="relative mt-20">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24 lg:items-start">
        <div class="relative sm:py-16 lg:py-0">
          <div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
            <div class="absolute inset-y-0 right-1/2 w-full bg-gray-50 rounded-r-3xl lg:right-72"></div>
            <svg class="absolute top-8 left-1/2 -ml-3 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392">
              <defs>
                <pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
            </svg>
          </div>
          <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0 lg:max-w-none lg:py-20">
            <!-- Testimonial card-->
            <div class="relative pt-64 pb-10 rounded-2xl shadow-xl overflow-hidden">
              <img class="absolute inset-0 h-full w-full object-cover" src="/levylab/assets/img/IMG_0146.jpeg" alt="">
              <div class="absolute inset-0 bg-[#70003C] mix-blend-multiply opacity-50"></div>
              <div class="absolute inset-0 bg-gradient-to-t from-[#C61213] via-[#C61213] to-transparent opacity-80"></div>
              <div class="relative px-8">
                <div>
                  <!-- <img class="h-12" src="https://tailwindui.com/img/logos/workcation.svg?color=white" alt="Workcation"> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0">
          <!-- Content area -->
          <div class="pt-12 sm:pt-16 lg:pt-20">
            <h2 class="text-3xl text-gray-900 font-extrabold tracking-tight sm:text-4xl">Advancing clinical translational sciences by validating emerging diagnostic technologies.</h2>
            <div class="mt-6 text-gray-500 space-y-6">
              <p class="text-lg">
                The Levy Lab at Cedars-Sinai Medical Center is dedicated to developing and validating innovative 
                <strong>digital pathology</strong> and <strong>artificial intelligence (AI)</strong> technologies for 
                <strong>histopathology</strong> and <strong>clinical implementation</strong>. Our primary goal is to establish the 
                <strong>credibility and adoptability</strong> of these technologies by integrating them into clinical workflows and 
                ensuring they meet both <strong>algorithmic</strong> and <strong>practical stakeholder readiness</strong> criteria through rigorous validation and stress testing.
              </p>
              <p class="text-base leading-7">
                Our research focuses on applying AI, digital pathology, and spatial multiomics to tackle key challenges in 
                anatomic pathology. Notable research areas from the Levy Lab include:
              </p>
              <ul class="list-disc list-inside text-base leading-7">
                <li>
                  <strong>Virtual RNA inference methods:</strong> Predict spatial gene expression from histology to provide deeper insights into tumor biology.
                </li>
                <li>
                  <strong>Spatial multimodal analysis:</strong> Explore metal-based pathways in tumor progression to improve diagnostic accuracy and guide treatment strategies.
                </li>
                <li>
                  <strong>Urine cytology AI algorithm:</strong> Detect abnormal cells in cytology specimens containing hundreds of thousands of cells, offering a noninvasive diagnostic adjunct for high-volume bladder cancer screening and surveillance.
                </li>
                <li>
                  <strong>Intraoperative margin assessment tool:</strong> Build a real-time 3D model of the tumor from dozens of tissue sections within 70 seconds after scanning, helping surgeons assess tumor margins and ensure complete removal of cancer during surgery.
                </li>
              </ul>
              <p class="text-base leading-7">
                The Levy Lab fosters an interdisciplinary, collaborative environment that bridges basic science and clinical research. We emphasize <strong>reverse translation studies</strong>, where clinical insights inform basic science discoveries. Lab members are encouraged to lead independent, biomedical research projects, work closely with clinicians, and gain exposure to a blend of <strong>computational, biomedical, and clinical research perspectives</strong>.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- CTA section -->
    <div class="relative mt-24 sm:mt-32 sm:py-16">
      <div aria-hidden="true" class="hidden sm:block">
        <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50 rounded-r-3xl"></div>
        <svg class="absolute top-8 left-1/2 -ml-3" width="404" height="392" fill="none" viewBox="0 0 404 392">
          <defs>
            <pattern id="8228f071-bcee-4ec8-905a-2a059a2cc4fb" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="392" fill="url(#8228f071-bcee-4ec8-905a-2a059a2cc4fb)" />
        </svg>
      </div>
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="relative rounded-2xl px-6 py-10 bg-[#70003C] overflow-hidden shadow-xl sm:px-12 sm:py-20">
          <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
            <svg class="absolute inset-0 h-full w-full" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360">
              <path class="text-[#C61213] text-opacity-40" fill="currentColor" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" />
              <path class="text-[#C61213] text-opacity-40" fill="currentColor" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" />
            </svg>
          </div>
          <div class="relative">
            <div class="sm:text-center">
              <h2 class="text-3xl font-extrabold text-white tracking-tight sm:text-4xl">Want To Join The Lab?</h2>
              <p class="mt-6 mx-auto max-w-2xl text-lg text-[#FF9797]"><a class="underline" href="mailto:joshua.j.levy@dartmouth.edu">Click here to send an email</a> and Professor Levy will reach out soon!</p>
            </div>
            <!-- <form action="#" class="mt-12 sm:mx-auto sm:max-w-lg sm:flex">
              <div class="min-w-0 flex-1">
                <label for="cta-email" class="sr-only">Email address</label>
                <input id="cta-email" type="email" class="block w-full border border-transparent rounded-md px-5 py-3 text-base text-gray-900 placeholder-gray-500 shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-[#00703c]" placeholder="Enter your email">
              </div>
              <div class="mt-4 sm:mt-0 sm:ml-3">
                <button type="submit" class="block w-full rounded-md border border-transparent px-5 py-3 bg-gray-900 text-base font-medium text-white shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-[#00703c] sm:px-10">Notify me</button>
              </div>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
